body {
    margin: 0 auto;
    max-width: 800px;
    font: 11pt monospace;
    padding: 0 1rem;
}

h1 a {
  color: #000;
  text-decoration: none;
}

h2 small {
    font-size: 0.6em;
    margin-left: 3rem;
}

p {
  line-height: 1.4rem;
}

img {
    max-width: 100%;
}

ul li {
    margin: 0.6rem 0;
}

ul.none {
    list-style: none;
    padding-left: 0;
}

small {
    color: grey;
}

code {
    background: #f1f1f1;
    font-size: 0.8rem;
    padding: 1px 2px;
}

pre {
    background: none;
    padding: 1rem;
}

pre code {
    background: transparent;
}

blockquote {
    color: grey;
    font-style: italic;
    margin-left: 1rem;
    padding-left: 1em;
    box-shadow: #e1e1e1 3px 0 0 0 inset;
}

hr {
    margin: 1.5rem auto;
}

article footer {
  margin-top: 2rem;
}

footer#mastfoot {
  border-top: 1px solid lightgrey;
  margin: 2rem auto;
  padding: 1rem 0;
}
