body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.post-title {
  font-size: 32px;
}

.archives .post-list  a {
  display: inline;
  font-size: 1em;
}

.archives .post-list > li {
  margin-bottom: 3px;
}